.top {
    height: 40px;
}
.left {
    width: 100px;
    float:left;
}
.main {
  margin-left:140px;
 }
hr.vertical {
  width: 0px;
  height: 100%;
}
div.vertical-line{
  width: 0px; /* Use only border style */
  height: 100%;
  float: left; 
  border: 1px inset; /* This is default border style for <hr> tag */
}
#your_column {
  border-left: 1px solid black;
}
.btn.btn-cobra {
    background:none;
    border:none;
    box-shadow:none;
}

.specialfont {
    font-family: "courier",sans-serif;
}
#babel_image {
  background: url("http://www.loftypaints.com/attachments/Image/about-us.jpg?template=generic");/*
  background-color: ;*/
}
/*body {
  background-image: url("babel_talk_logo.jpg");  
}*/
.newtextalign {
  text-align: center;
}