{"filter":false,"title":"phpunit.xml","tooltip":"/laravel/phpunit.xml","undoManager":{"mark":0,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1424017966000,"hash":"bd2ea433daf98ea6f6da08fd64002d6e5e55c8d2"}